---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  #actions:
  #  - label: "Download"
  #    url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "We make fun cross-platform multi-player games that work on any device."
intro: 
  - excerpt: 'Here are a few of our games & apps that you may like'
feature_row:
  - image_path: /assets/images/z-placeholder.jpg
    alt: "placeholder image 2"
    title: "Project Z (not released)"
    excerpt: 'A 80-player zombie survival game. Players must ipsum lorem in order to survive the outbreak!'
    url: "#not-released"
    btn_label: "Play now in your browser"
    btn_class: "btn--primary"
  -
    url: "#not-released"
    btn_label: "Get it for Android"
    btn_class: "btn--primary"
  -
    url: "#not-released"
    btn_label: "Get it for iOS"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %  type="left"}
